{% extends "app/layout.html" %}

{% block content %}

<h2>Contact Us.</h2>

<div class="row">
    <div class="col-md-6">
        <h3>HIT Alumni Association</h3>

        <address>
            HIT University<br />
            Address: Lawley Ave, Harare<br />
            Hours: Opens 8AM<br />
            Phone: (024) 2741422<br />
            Founded: 1988<br />
            Motto: Success Through Innovation<br />
            
            <abbr title="Phone">HITA</abbr>
            (024) 2741422
        </address>

        <address>
            <strong>Email:</strong> <a href="#">hita@hit.ac.zw</a><br />
            <strong>Website Queries:</strong> <a href="richardarnoldmuramba@gmail.com">richardarnoldmuramba@gmail.com</a><br />
        </address>
    </div>
</div>

{% endblock %}
