{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<h2>HITA Meambers</h2>
<p>HIT Alumni Association Meambers</p>

<hr />

<div class="container">
    <div class="row team-committee">
        <h3>Alumni Association Committee Members</h3>
        <div class="col-sm-4">
            <img src="{% static 'app/images/gallery/demo/cet1.png' %}" class="img-circle img-halo"
                    height="200" width="200" />
            <h4>Name</h4>
            <p class="font-large">Title</p>
        </div>
        <div class="col-sm-4">
            <img src="{% static 'app/images/gallery/demo/cet1.png' %}" class="img-circle img-halo"
                    height="200" width="200" />
            <h4>Name</h4>
            <p class="font-large">Title</p>
        </div>
        <div class="col-sm-4">
            <img src="{% static 'app/images/gallery/demo/cet1.png' %}" class="img-circle img-halo"
                    height="200" width="200" />
            <h4>Name</h4>
            <p class="font-large">Title</p>
        </div>
<!--        <div class="col-sm-4">
            <img src="{% static 'app/images/gallery/demo/cet1.png' %}" class="img-circle img-halo"
                    height="200" width="200" />
            <h4>Name</h4>
            <p class="font-large">Title</p>
        </div>
        <div class="col-sm-4">
            <img src="{% static 'app/images/gallery/demo/cet1.png' %}" class="img-circle img-halo"
                    height="200" width="200" />
            <h4>Name</h4>
            <p class="font-large">Title</p>
        </div>
        <div class="col-sm-4">
            <img src="{% static 'app/images/gallery/demo/cet1.png' %}" class="img-circle img-halo"
                    height="200" width="200" />
            <h4>Name</h4>
            <p class="font-large">Title</p>
        </div>
    </div>-->
    <div class="row team-developers">
        <h3>Development Team</h3>
        <div class="col-sm-4 col-sm-offset-4">
            <img src="{% static 'app/images/gallery/demo/ric2.JPG' %}" class="img-circle img-halo"
                    height="150" width="150" />
            <h4>Arnold Richard Muramba</h4>
            <p class="font-large">Developer</p>
        </div>
    </div>
    
</div>

{% endblock %}
